<body bgcolor="#0cd387" text="#bc0e0b" link="#00ff3b" vlink="#00ff3b">

<html>
<head>
<title>Discord bots</title>
</head>
<body>
<center><b><font size="7">Hoi, hier zijn een paar discord bots die ik heb gemaakt.</font></b></center>
</body>
</html>

________________________________________________________________________________________________________________________________________________________________________________________________________                                                                                                                                       

<font size="6"><center><a href="https://discordapp.com/api/oauth2/authorize?client_id=433687254741942280&permissions=0&scope=bot" target="_blank">zooper</a></center></font>

<font size="6"><center><a href="https://discordapp.com/api/oauth2/authorize?client_id=388381047739514891&permissions=0&scope=bot" target="_blank">StomBot</a></center></font>

<font size="6"><center><a href="https://discordapp.com/api/oauth2/authorize?client_id=519565981769662467&permissions=0&scope=bot" target="_blank">normalbot</a></center></font>

<font size="6"><center><a href="URL of New Window Here" target="_blank">Link Name Here</a></center></font>

<font size="6"><center><a href="URL of New Window Here" target="_blank">Link Name Here</a></center></font>

<font size="6"><center><a href="URL of New Window Here" target="_blank">Link Name Here</a></center></font>

<font size="6"><center><a href="URL of New Window Here" target="_blank">Link Name Here</a></center></font>

________________________________________________________________________________________________________________________________________________________________________________________________________ 
<center><font size="6"><u>zooper:</u><font size="6"></center>
 <center><tt><font size="5">Administrator bot, kan mensen bannen, kicken, unbannen, enzovoort. De leden van je discord server managen word een stuk makkelijker met deze bot.</font></tt></center>
 <center><font size="6"><u>StomBot:</u><font size="6"></center>
 <center><tt><font size="5">Nog niet af</font></tt></center>
  <center><font size="6"><u>normalbot:</u><font size="6"></center>
 <center><tt><font size="5">Nog niet af</font></tt></center>
